body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffbadc;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 20px;
}

.gender-container {
    background-color: #ffd7fb;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.gender-container label {
    margin: 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #c9c9c9;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ff7bde;
}

#hasil {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 20px;
}
